{% extends "base.twig" %}
{% block title %}New playlist{% endblock %}

{% block content %}
<h2>{{playlistObject.title}}</h2>
{% if videos %}
    {% if errors %}
        <ul>
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

        <h2>Videos</h2>
            <form method="post" id="videoSwapAndRemove">
                <div class="vidwrapper">
                {% for video in videos %}
                        <div class="vidbox">
                            <div>
                            <input type="checkbox" name="video" value="{{ video.id }}" id="video-{{ video.id }}" />
                            <label for="videoTitle">{{ video.title }}</label>
                            <div class="videoData">  {{ video.topic }} </div>
                            <div class="videoData"> {{ video.subject }} </div>

                            </div>
                        </div>

        {% endfor %}
                    </div>
                    <div class="submitbutton">
                        <label></label>
                        <input type="submit" value = "Remove" name = "remove" />
                    </div>
                    <div class="submitbutton">
                        <label></label>
                        <input type="submit" value = "Swap order" name = "swap" />
                    </div>
            </form>
{% else %}
    <p>There's nothing here..</p>
{% endif %}

{% endblock %}