{% extends "base.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
    {% if user %}
    <p>
        Hello {{ user.email }}!
        <div class="search-results">
            <h1>Subscribed Playlists</h1>
            {% for playlist in playlistResult %}
                <a href="playlistSelect.php?v={{ playlist.id }}">
                    <div class="result">
                        <div class="search-thumb">
                            <img src="{{ playlist.videos[0].thumbnailPath }}" alt="Heyo">
                        </div>
                        <div class="main-result">
                            <div class="main-search">
                                <div class="videoTitle"> {{ playlist.title }}</div>
                                <div class="searchTopic"> Topic: {{ playlist.topic }} </div>
                                <div class="searchSubject"> Subject: {{ playlist.subject }} </div>
                                <div class="searchDescription"> Description: {{ playlist.description }}</div>
                            </div>
                        </div>
                    </div>
                </a>
            {% endfor %}
        </div>


    </p>
    {% else %}
    <p>
        You are not logged in
    </p>
    {% endif %}
{% endblock %}
