{% extends "base.twig" %}

{% block title %}Search results{% endblock %}


{% block content %}


    <div class = "search-results">
        <h2>{{ currentPlaylist.title }}</h2>
        {% if sub %}
        <a class="btn subscribe" href="/subscribe.php?p={{ currentPlaylist.id }}">Unsubscribe</a>
        {% else %}
        <a class="btn btn-err subscribe" href="/subscribe.php?p={{ currentPlaylist.id }}">Subscribe</a>
        {% endif %}
        <div class="playlist-info">{{ currentPlaylist.subject }} - {{ currentPlaylist.topic }}</div>
        <p>
            {{ currentPlaylist.description }}
        </p>
        <h3>Videos</h3>
        {% set i = 0 %}
        {% for video in result %}
            {% set i = i + 1 %}
            <a href="watch.php?v={{ video.id }}&p={{ playlistSearch }}&i={{ i }}">
                <div class="result">
                    <div class="search-thumb">
                        <img src="{{video.thumbnailPath}}" alt="Heyo">
                    </div>
                    <div class="main-result">
                        <div class="main-search">
                            <div class="videoTitle"> {{ video.title }}</div>
                            <div class="searchTopic"> Topic: {{ video.topic }} </div>
                            <div class="searchSubject"> Subject: {{ video.subject }} </div>
                            <div class="searchDescription"> Description: {{ video.description }}</div>
                        </div>
                    </div>
                </div>
            </a>
        {% endfor %}
    </div>

    {{ error }}


{% endblock %}
