{% extends "base.twig" %}

{% block title %}Search results{% endblock %}

{% block content %}
    <h2>Search Results</h2>
    <div class = "search-results">
        {% for video in result %}
            <div class = "result">
            <a href = "watch.php?v = {{ video.id }}">
                    {{ video.subject }}
                    {#{{ video.title }}#}
                    {{ video.title }}
                    {{ video.topic }} <br>
            </a>
            </div>
            <img src = "{{video.thumbnailPath}}" alt = "Heyo" height = "100" width = "100"> <br> <br>
        {% endfor %}
    </div>


    {{ error }}


{% endblock %}