{% extends "base.twig" %}

{% block title %}Search results{% endblock %}

{% block content %}
    <h2>Search Results</h2>
    <a>
        {% for video in result %}
            {{ video.subject }}
            <a href="watch.php"> {{ video.title }} </a> <br>
            {{ video.topic }} <br>
            <img src = "{{video.thumbnailPath}}" alt="Heyo" height = "100" width = "100"> <br>
        {% endfor %}
    </div>


    {{ error }}


{% endblock %}