{% extends "base.twig" %}

{% block title %}{{ video.title }}{% endblock %}

{% block content %}
<div class="video-watch">
    <div class="playbox{{ playlist ? " with-sidebar" }}">
        <div class="video">
            <video autoplay controls src="{{ video.videoPath }}"></video>
        </div>
        <div class="sidebox">
            <a class="btn btn-err subscribe">Subscribe</a>
            <h3>{{ playlist.title }}</h3>
            <span>{{ playlist.subject }} - {{ playlist.topic }}</span>
            <p>
                {{ playlist.description }}
            </p>

            <h4>Up next</h4>
            {% if upnext %}
            <img src="{{ upnext.thumbnailPath }}" />
            <strong>{{ upnext.title }}</strong>
            <a class="btn" href="/watch.php?v={{upnext.id}}&p={{playlist.id}}&i={{videoInd + 1}}">Play next</a>
            {% else %}
            <span>You are at the end of the playlist</span>
            {% endif %}
        </div>
    </div>

    <div class="video-desc">
        <h2>{{ video.title }}</h2>
        <div class="ratings">
            <div class="rating">
                Rating:
                {% if rating %}
                {{ rating|number_format(1) }} / 5 stars
                {% else %}
                Unrated
                {% endif %}
            </div>
            {% if user %}
                {% if myrating %}
                <div class="rating">You: {{ myrating|number_format(1) }} / 5 stars</div>
                {% endif %}
                {% if user.isStudent and not user.isLecturer %}
                <div class="rate">
                    <form method="post">
                        <input type="hidden" name="action" value="rate">
                        <select name="rating">
                            <option value="0">☆☆☆☆☆</option>
                            <option value="1">★☆☆☆☆</option>
                            <option value="2">★★☆☆☆</option>
                            <option value="3">★★★☆☆</option>
                            <option value="4">★★★★☆</option>
                            <option value="5">★★★★★</option>
                        </select>
                        <input type="submit" value="Rate" />
                    </form>
                </div>
                {% endif %}
            {% endif %}
        </div>
        <div class="uploader"><a href="user.php?id={{ video.user }}">{{ video.uploader.email }}</a></div>
        <p>
            {{ video.description }}
        </p>
        <div class="course">{{ video.subject }} - {{ video.topic }}</div>
    </div>
</div>

{% if error %}
<div class="error">{{error}}</div>
{% endif %}

<h3>Comments</h3>
{% if user %}
<form method="POST">
    <input type="hidden" name="action" value="comment" />
    <div class="comment-box">
        <div class="control">
            <textarea name="comment"></textarea>
        </div>
        <div class="control">
            <input type="submit" />
        </div>
    </div>
</form>
{% endif %}

<div class="comments">
{% for comment in comments %}
    <div class="comment">
        <div class="response">{{ comment.text }}</div>
        <div class="user">{{ comment.commenter.email }}</div>
    </div>
{% else %}
    There are no comments for this video
{% endfor %}
</div>

{% endblock %}
